.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.title {
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin: 40px 10px

}

.game-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3px;
    box-shadow: 0 5px 10px ;
}



.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(143, 142, 142);
    text-align:center;
    text-justify:distribute-all-lines;
    text-shadow: 0 3px 5px rgba(0,0,0,0.4);
    color: white;
    font-size: 3rem;

}

.cell:hover {
    filter: brightness(90%);
}

.cell:active {
    transform: translateY(2px);
}

.players-turn {
    margin: 15px 0;
    font-size: 1.5rem;
}

.end-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-game {
    
    background-color: rgba(238, 130, 238, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    text-align: center;
    font-size: 2rem;

    
}

.end-game-msg {
    margin-bottom: 20px;
}



