@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    font-family: 'Arimo';
}

a{
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
}

#hero {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;

}

#hero::before {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero{
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 40px;
}

#hero h1 {
    display: flex;
    width: fit-content;
    position: relative;
    font-size: 3rem;
    color: transparent;
    padding-left: 50px;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(65, 92, 65, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
    
    animation-delay: 1.5s;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    

}
.btn {
    text-align: center;
    padding:10px 20px;
    color: rgba(168, 18, 48, 0.747);
    background-color: transparent;
    border: 2px solid rgba(168, 18, 48, 0.747);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 00.3s ease;
    transition-property: background-color,color;
} 
    
 .btn:hover {
    color: white;
    background-color:rgba(168, 18, 48, 0.747);
}


#hero .btn {
    
    padding:10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(65, 92, 65, 1);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 00.3s ease;
    transition-property: background-color,color;
}



#hero .btn:hover {
    color: white;
    background-color: rgba(65, 92, 65, 1);
}



#about {
    display: flex;
    justify-content: center;
    background-color: rgba(241, 227, 200, 0.8);

}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about h1 {
    color: black;
    padding-top: 45px;
    padding-left: 5px;
    font-size: 3rem;
    margin-bottom: 30px;
    border-bottom: rgba(168, 18, 48, 0.747) 3px solid;
    border-left: rgba(168, 18, 48, 0.747) 3px solid;
    border-left-width: 10px;

}

.text-container {
    width: 650px;
   
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    border: 2px solid black;
    
}

p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: black;
    padding: 5px 20px;
    
    
}







#projects {
    background-color: rgba(241, 227, 200, 0.8);
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects h1 {
    color: black;
    padding-top: 45px;
    margin-bottom: 30px;
    padding-left: 5px;
    font-size: 3rem;
    border-bottom: rgba(168, 18, 48, 0.747) 3px solid;
    border-left: rgba(168, 18, 48, 0.747) 3px solid;
    border-left-width: 10px;
    margin-top: 75px;
}

.project {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 600px;

    overflow: hidden;
}

.project h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.wrap {
    width: 600px;
    height: 200px;
    display: flex;
    
}
.image-container {
    width: 50%;
    height: 100%;

}

.image-container img {
    width: 100%;
    height: 100%;
}

.overlay-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text p {
    text-align: center;
}




#projects .buttons-wrap {
    margin-top: 10px;
}







    

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}

@media screen and (max-width:800px) {
   
    .container{
        width: 90%;
    }
    
    .btns {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        
    }

    .btn {
        font-size: 0.7rem;
        padding:8px 15px;
        margin:5px 10px;
        width: 90%;
    }

    .about {
        height: fit-content;

    }
    .text-container{
        width: 90%;
        
        
    }
    .text-box {
        margin-top: 30px;
        height: fit-content;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: none;
        border-right: none;
    }
    
    .project {
        width: 90%;
        height: fit-content;
        margin-top: 50px;
      
    }
    #hero h1{
        font-size: 2rem;
    } 

    .wrap {
        flex-direction: column;
        width: 90%;
        
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    .image-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .overlay-text {
        width: 100%;
        margin-top: 50px;
    }


}




